
$primary:#000046;
$secondary:#ffffff;
$indego:#6610F2;
$deep-blue:#0052CC;
$emerald-green: #0f9d58;
$gold:#FFD700;
$lgray:#F5F5F5;
$dgray:#333333;
$pieOrange: #ff7f0e;

@media only screen and (max-width: 786px){
  .App{
    .header{
      justify-self: start;
      img{
        display: none;
      }
      .title{
        justify-content: start;
      }
    }
  }
}


h1,h2,h3,h4,h5,h6{
  margin:0;
}

.App{
  display: grid;
  .header{
    text-align: center;
    display:flex;
    height: min-content;
    background-color: $primary;
    color:$secondary;
    align-items: center;
    padding:0 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid $dgray;
    .title{
      display: grid;
      justify-content: flex-start;
      margin:0 auto;
    }
    img{
      height:60px;
    }
  }
  .topbar{
    z-index: 10;
    position: sticky;
    top:0;
    background-color:$primary;
    color:$secondary;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $dgray;
    &.pinned{
      background-color: $deep-blue;
    }
    div{
      display: flex;
      align-items: center;
      gap:5px;
      padding:5px;
      img{
        height: 1.2rem;
      }
    }
    .selected{
      border-bottom: 5px solid $secondary;
    }
  }
  .hero{
    background: linear-gradient(180deg, $primary 10%, $deep-blue 80%, $secondary 10% );
    color:$secondary;
    display:grid;
    gap:10px;
    .top{
      padding:10px;
      display: flex;
      justify-content: space-between;
      .download{
        display:flex;
        gap:5px;
      }
    }
    section{
      display: grid;
      grid-auto-flow: column;
      justify-content: space-around;
      font-weight: 900;
      .view_card{
        background-color: $secondary;
        padding:10px;
        height:100px;
        width: 150px;
        border-radius: 10px;
        display: grid;
        box-shadow: 0 0 5px 1px $primary;
        img{
          height:2rem;
        }
        >*{
          pointer-events: none;
        }
        &:hover{
          box-shadow: 0 0 10px 3px $primary;
          cursor: pointer;
        }
        &.selected{
          box-shadow: 0 0 5px 2px $primary;
          background: linear-gradient(180deg, $primary , $deep-blue 80%);
          .text{
            color:$secondary
          }
        }
      }
      .map{
        .text{
          color:$primary;
        }
        &.selected{
          img{
            content: url('../src/icons/map_s.png');
          }
        }
      }
      .pie{
        .text{
          color:$pieOrange
        }
        &.selected{
          img{
            content: url('../src/icons/pie_s.png');
          }
        }
      }
      .bar{
        .text{
          color:$deep-blue;
        }
        &.selected{
          img{
            content: url('../src/icons/bar_s.png');
          }
        }
      }
      .trend{
        .text{
          color:$pieOrange
        }
        &.selected{
          img{
            content: url('../src/icons/trend_s.png');
          }
        }
      }
      .data_table{
        .text{
          color:$deep-blue
        }
        &.selected{
          img{
            content: url('../src/icons/table_s.png');
          }
        }
      }
    }
  }
  .content{
    .map_view{
      z-index: -1;
      padding: 30px;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      border-radius: 30px;
      padding:30px;
      margin:30px 0;
      .title{
        grid-column: span 2;
        text-align: center;
        justify-self: center;
        height:40px;
        display:flex;
        align-items: center;
        img{
          height:30px;
        }
        input{
          width: 100%;
          height:30px;
          border-radius: 30px;
          padding:0 10px;
        }
      }
      .filters{
        background-color: $lgray;
        width: fit-content;
        justify-self: self-end;
        padding:10px;
        img{
          height:25px;
        }
        .wrapper{
          padding:30px;
          form{
            display: grid;
            gap:1rem;
            div{
              display: flex;
              label{
                width: 10em;
              }
              input{
                width: 100%;
              }
            }
            .dor_ip{
              display: grid;
              gap:1rem;
            }
          }
        }
      }
      .map_container{
        display: grid;
        place-content: center;
        height: 500px;
        width: 500px;
        .leaflet-container{
          // border-radius: 30px;
          height: 500px;
          width: 500px;
          .map_popup{
            display: grid;
            .name{
              display: flex;
              align-items: center;
              gap:10px;
              .drop_down{
                height: 15px;
                cursor: pointer;
                transform: rotate(180deg);
                &.rotate{
                  transform: rotate(360deg);
                }
              }
            }
          }
        }
      }
    }
    .pie_view{
      padding: 30px;
      display:grid;
      place-content: center;
      .pie_container{
        height: 500px;
        width: 500px;
        border-radius:30px ;
        box-shadow: 0 0 10px 2px $dgray;
        padding:30px;
      }
    }
    .trend_view{
      padding: 30px;
      display:grid;
      place-content: center;
      .trend_container{
        display: grid;
        place-content: center;
        width: 80vw;
        max-height: 70vh;
      }
    }
    .bar_view{
      padding: 30px;
      display:grid;
      place-content: center;
      .bar_container{
        display:grid;
        place-content: center;
        max-height: 70vh;
        width: 80vw;
      }
    }
  }
}