
$primary:#000046;
$secondary:#ffffff;
$indego:#6610F2;
$deep-blue:#0052CC;
$emerald-green: #0f9d58;
$gold:#FFD700;
$lgray:#ffffff;
$dgray:#333333;
$pieOrange: #ff7f0e;

h1,h2,h3,h4,h5,h6{
  margin:0;
}

body{
  background-color: $lgray;
}
.App{
  display: grid;
  .header{
    text-align: center;
    display:flex;
    background-color: $primary;
    color:$secondary;
    align-items: center;
    padding:5px 10px 5px;
    border-bottom: 1px solid $dgray;
    .title{
      margin:0 auto;
    }
    img{
      height:60px;
    }
  }
  .topbar{
    z-index:10000;
    position: sticky;
    top:0;
    background-color:$primary;
    color:$secondary;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $dgray;
    &>div{
      display: flex;
      align-items: center;
      gap:5px;
      padding:5px;
      cursor: pointer;
      filter:opacity(75%);
      img{
        height: 1.2rem;
      }
      &:hover{
        filter:opacity(100%)
      }
    }
    .selected{
      border-bottom: 3px solid $secondary;
      filter:opacity(100%)
    }
  }
  .content{
    .hero{
      background: linear-gradient(180deg, $primary 10%, $deep-blue 80%, $lgray 10% );
      color:$secondary;
      display:grid;
      gap:10px;
      margin-bottom: 3rem;
      .top{
        padding:10px;
        display: flex;
        justify-content: space-between;
        .download{
          display:flex;
          gap:5px;
          button{
            cursor: pointer;
          }
        }
      }
      section{
        display: flex;
        justify-content: space-evenly;
        gap:1rem;
        font-weight: 900;
        .view_card{
          overflow: hidden;
          background-color: $secondary;
          padding:10px;
          border-radius: 10px;
          display: flex;
          gap: 1rem;
          flex-wrap: wrap;
          align-items: center;
          box-shadow: 0 0 5px 1px $primary;
          img{
            height:2rem;
          }
          >*{
            pointer-events: none;
          }
          &:hover{
            box-shadow: 0 0 10px 3px $primary;
            cursor: pointer;
          }
          &.selected{
            box-shadow: 0 0 5px 2px $primary;
            background: linear-gradient(180deg, $primary , $deep-blue 80%);
            .text{
              color:$secondary
            }
            img{
              filter:brightness(0) invert(1);
            }
          }
        }
        .map{
          .text{
            color:$primary;
          }
        }
        .pie{
          .text{
            color:$pieOrange
          }
        }
        .bar{
          .text{
            color:$deep-blue;
          }
        }
        .trend{
          .text{
            color:$pieOrange
          }
        }
        .data_table{
          .text{
            color:$deep-blue
          }
        }
      }
    }
    .page{
      & .title{
        text-align: center;
        font-size: 1.2em;
        font-weight: 700;
      }
      .map_view{
        display: grid;
        place-content: center;
        .map_container{
          width: 70vw;
        }
  
        // padding: 30px;
        // display: flex;
        // flex-direction: column;
        // padding:30px;
        // align-items: center;
        // .title{
        //   grid-column: span 2;
        //   text-align: center;
        // }
        // .map_container{
        //   display: flex;
        //   flex-wrap: wrap;
        //   justify-content: center;
        //   .filters{
        //     background-color: rgb(158, 202, 255);
        //     justify-self: end;
        //     padding:10px;
        //     overflow-y: scroll;
        //     height:480px;
        //     max-width: 500px;
        //     width: fit-content;
        //     img{
        //       height:25px;
        //       cursor: pointer;
        //     }
        //     .wrapper{
        //       padding:30px;
        //       form{
        //         display: grid;
        //         gap:1rem;
        //         div{
        //           display: flex;
        //           label{
        //             width: 10em;
        //           }
        //           input{
        //             width: 100%;
        //           }
        //         }
        //         .dor_ip{
        //           display: grid;
        //           gap:1rem;
        //         }
        //       }
        //     }
        //     .data_list{
        //       .wrapper{
        //         display: grid;
        //         gap:10px;
        //         .item{
        //           background-color: white;
        //           border-radius: 10px;
        //           padding:10px;
        //           .name{
        //             display: flex;
        //             justify-content: space-between;
        //             img{
        //               height:1em;
        //               &.rotate{
        //                 transform: rotate(180deg);
        //               }
        //             }
        //           }
        //         }
        //       }
        //     }
        //   }
        //   .leaflet-container{
        //     height: 500px;
        //     width: 500px;
        //     .map_popup{
        //       display: grid;
        //       .name{
        //         display: flex;
        //         align-items: center;
        //         gap:10px;
        //         .drop_down{
        //           height: 15px;
        //           cursor: pointer;
        //           transform: rotate(180deg);
        //           &.rotate{
        //             transform: rotate(360deg);
        //           }
        //         }
        //       }
        //     }
        //   }
        // }
      }
      .pie_view{
        padding: 30px;
        display:grid;
        place-content: center;
        .pie_container{
          width: 500px;
          border-radius:30px ;
          padding:30px;
        }
        .content>.pie_container{
          padding:3rem;
          border-radius: 30px;
          background-color: $secondary;
          filter: drop-shadow(0 0 10px $primary)
        }
      }
      .trend_view{
        padding: 30px;
        display:grid;
        place-content: center;
        .trend_container{
          display: grid;
          place-content: center;
          width: 80vw;
          max-height: 70vh;
        }
      }
      .bar_view{
        padding: 30px;
        display:grid;
        place-content: center;
        .bar_container{
          display:grid;
          place-content: center;
          max-height: 70vh;
          width: 80vw;
        }
      }
      .table_view{
        display: grid;
        place-content: center;
        overflow-x: scroll;
        .wrapper{
          width: 80vw;
          padding:30px;
        }
      }
      .dashboard{
        max-width: 100vw;
        display:grid;
        grid-template-columns: 50% 50%;
        gap:3rem ;
        padding: 3rem;
        padding-right: 6rem;
        &>*{
          padding:3rem;
          border-radius: 30px;
          background-color: $secondary;
          overflow: hidden;
          filter: drop-shadow(0 0 10px $primary)
        }
        &>.bar_view{
          .bar_container{
            max-width:40vw;
          }
        }
        &>.trend_view{
          .trend_container{
            width:40vw;
          }
        }
        &>.pie_view{
          .pie_container{
            width: 40vw;
          }
        }
      }
    }
  }
  .footer{
    background-color: $lgray;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 786px){
  .App{
    .header{
      .title{
        h1{
          font-size: 1em;
        }
        h4{
          display: none;
        }
      }
    }
    .topbar{
      &>div:not( .selected){
        display: none;
      }
    }
    .content{
      .hero{
        .top{
          .download{
            display:none;
          }
        }
        section{
          .view_card{
            .text{
              display:none;
            }
          }
        }
      }
      .page{
        margin: 3px solid red;
        .dashboard{
          grid-template-columns: auto;
          padding: 3rem;
        }
        .bar_view{
          
        }
      }
      
    }
    .footer{
      display:none;
    }
  }
}